/* ALL */
* {
  
  text-align: center;
  font-family: 'Raleway', serif;
}

body {
  background-color: blueviolet;
}

.App {
  max-width: 60%;
  margin: 0 auto;

}

.column-children {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-children input {
  margin: 1em 0;
  color: grey;
  font-style: italic;
  max-width: 50%;
  
}

/* title */
.title-container {

}
/* REQUEST FORM */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.request-form {

}

/* GENERATED POSTS */
.posts-container {
  max-width: 150%;
  max-height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.generated-post {
  height: 20em;
  width: 20em;
}

.generated-post img {
  height: 10em;
  width: 10em;
}