/* ANIMATION */
#orange-circle {
  height: 25px;
  width: 25px;
  background-color: #E67F0D;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
}

#blue-circle {
  margin-left: 100px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  background-color: #00FFE7;
  opacity: 0;
}

/* ALL */
* {
  text-align: center;
  font-family: 'Raleway', serif;
}

ul {
  padding: 0;
}

body {
  background-color: #1E1E24;
  color:  #E67F0D;
  font-weight: 600;
}

.App {

  margin: 0 auto;

}

.column-children {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-children input {
  margin: 0.5em 0;
  max-width: 50%;
  
}

.column-children input:focus {
  background-color: #00FFE7;
}

label:focus {
  font-size: 150%;
}
/* TITLE */

/* REQUEST FORM */
input:focus, textarea:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.form-submit {
  font-size: 2em;
}

.category-form {
  margin-top: 1em; 
}

.term-form {
  margin-top: 1em; 
}


/* GENERATED POSTS */
.posts-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.generated-post {
  border-radius: 10px;
  height: 20em;
  width: 20em;
  border: solid .2em #444140;
  color: white;
  margin: .5em;
}
.post-title:hover {
  color: #E67F0D;
}
.generated-post:hover {
  /* background-color: rgba(0, 255, 231, 1); */
  
}

.generated-post img {
  height: 10em;
  width: 10em;
}